@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image:url('/images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257,40%, 49%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Open sans', sans-serif;
    font-size: 1.4em;
    color: #fff;
}

h1{
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
}

.container{
    width: 1200px;
    max-width: 100%;
    margin:auto;
}

.flex{
    display: flex;
}

.flex > div{
    flex: 1;
}

.flex > div:first-child{
    margin-right: 20px;
}

.flex > div:last-child{
    margin-left: 20px;
}

button{
    background-color: #fff;
    border-radius: 50px;
    border: none;
    color: hsl(257,40%, 49%);
    font-size: 24px;
    padding: 20px 80px;
}

.redes-sociais{
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.redes-sociais a {
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    height: 40px;
    width: 40%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
